body{
    background-position: center;
    background-color: rgb(1, 20, 63);
    background-size: cover;
    background-repeat: no-repeat;
    font: 12pt;
    overflow-x: hidden;
    align-items: center;
    margin: 0;
    width: 100%; /* Garante que o body ocupe a largura total da viewport */
    min-height: 100vh; /* Garante que o body ocupe ao menos a altura da tela */
    display: flex;
    flex-direction: column;
    color: white;
}
h1{
    font-family: 'Roboto', sans-serif;
    font: 60pt;
    text-align: center;
    margin-top: 120px;
    color: #ff0062;
    text-shadow: 0 1px 2px #000000;
}
a{
    color: #00a2ff;
    
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
section input{
    height: 25px;
    width: 300px;
    margin-bottom: 1rem;
    border: none;
    border-radius: 15px;
    padding: 0.5rem;
    align-items: center;
}
section button{
    background-color: rgb(44, 68, 104);
    color: rgb(255, 255, 255);
    height: 34px;
    width: 100px;
    border-radius: 15px;
    border: none;
}
.resultados{
    /*background-color: rgba(0, 0, 0, 0.322);*/
    width: 50rem;
    height: 50vh;
    overflow-y: auto;
    margin-top: 0.3rem;
    padding: 1rem;
    border-radius: 0.6rem;
}
.itens-resultados{
    font-family: Arial, sans-serif;
    letter-spacing: 0.2px;
    float: left;
    width: 45rem;
    background-color: #222044;
    color: #ffffff;
    border-radius: 0.6rem; 
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0);
}
.itens-resultados h2{
    font-family: sans-serif;
    text-shadow: 0 0.5px 4px black;
    color: #ff0062;
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#item-invalido{
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 1px 4px black;
    color: #ff0062;
    font-size: 30px;
    text-align: center;
}
#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
#linkedin-logo{
    margin-left: 5px;
}
footer{
    background-color: rgb(18, 23, 44);
    font-size: 1.5rem;
    font: 10pt Arial;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: absolute;
}
@media (max-width: 768px) {
    body{
        width: 100vw;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    h1 {
        font-size: 40pt; /* Fonte menor para mobile */
        margin-top: 90px;
    }
    section input {
        width: 100%; /* Ajuste para telas menores */
    }
    .resultados {
        height: 150vw;
        width: 80%; /* Largura total na tela */
    }
    .itens-resultados {
        width: 92%; /* Alinha os itens de resultado para caber na tela */
    }

    #item-invalido {
        text-align: center;
        font-size: 70pt;
    }
    #myVideo{
        position: fixed;
    }
    footer{
        margin-bottom: 30px;
    }
}
@media (max-width: 480px) {
    h1{
        font-size: 25pt;
        margin-top: 56px;
    }
    section input{
        width: 55vw;
    }
    .resultados{
        overflow-x: hidden;
        height: 90vw;
    }
    #item-invalido{
        font-size: 15pt;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    h1{
        font-size: 20pt;
        margin-top: 20px;
    }
    .resultados{
        height: 50vw;
    }
    section input{
        width: 55vw;
    }
    #item-invalido{
        font-size: 18pt;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    .resultados{
        width: 80%;
    }
    .itens-resultados{
        width: 80%;
    }
}
@media (min-width: 1025px) and (max-width: 1200px) {
    h1{
        margin-top: 20px;
    }
    .resultados{
        margin-top: 20px;
    }
}